<!DOCTYPE html>
<html>

<head>
<title>Book Appointment</title>
</head>

<body>

<h2>Book Doctor Appointment</h2>

<form method="POST">

Patient Name
<input type="text" name="name" required>
<br><br>

Doctor
<select name="doctor">
<option>Dr. Smith</option>
<option>Dr. Kumar</option>
<option>Dr. Priya</option>
</select>

<br><br>

Date
<input type="date" name="date">

<br><br>

Symptoms
<textarea name="symptoms"></textarea>

<br><br>

<button type="submit">Book Appointment</button>

</form>

</body>
</html>